.body{
    display: flex;
    flex-wrap: wrap;
}

.header{
    width: 100%;
}
.genreBar{
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 13%;
    background: lightsteelblue;
}
.childrenPage{
    width: 87%
}